html, #root, body{
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  height: 8rem;
}

.body {
  display: flex;
  flex-direction: row;
  background-color: rgb(202, 199, 199);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* position: relative; */
  flex-grow: 1;
  flex-direction: row;
}

.filter{
  border-left: 4px solid black;
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 25%;
  background-color:rgb(255, 255, 255, 0.2);
}

h3 {
  text-align: center;
  width: 100%;
}

.filter-data {
  display: flex;
  flex-direction: column;
}

.acordeon {
  display: flex;
  flex-direction: column;
}

.filter_name {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  border-bottom: 1px solid black;
  width: 100%;
}

span {
  margin-left: 20px;
  width: 100%;
}

.welcome {
  background-color: rgb(202, 199, 199);
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40%;
}

.welcome a {
  width: 33%;
  border: 1px solid black;
  text-emphasis: none;
  margin-top: 4px;
}

.filter-player {
  display: flex;
  background-color: teal;
  margin: 14px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  border-radius: 8px;
}


.footer {
  position: relative;
}