html, #root, body{
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  height: 8rem;
}

.body {
  background-color: rgb(202, 199, 199);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* position: relative; */
  flex-grow: 1;
}

.filter{
  border-left: 4px solid black;
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 10%;
  background-color:rgb(255, 255, 255, 0.2);
}

h3 {
  text-align: center;
  width: 100%;
}

.filter_name {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  border-bottom: 1px solid black;
  width: 100%;
}

span {
  margin-left: 20px;
  width: 100%;
}

.footer {
  position: relative;
}