.login {
    height: 24rem;
    width: 24rem;
    /* position: absolute; */
    top: 20%;
    left: 70%;
    margin: auto;
}

.form-login {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 255, 255, 0.2);
    border: 1px solid black;
    border-radius: 8px;

}

.input-login {
    height: 4rem;
    width: 20rem;
    border-radius: 8px;
    margin-top: 14px;
    font-size: 1.2rem;
    justify-content: center;
    align-content: center;
}

.iniciar_sesion {
    justify-content: center;
    display: flex;
    margin-top: 14px;
    height: 4rem;
    width: 20rem;
    border: 2px solid gray;
    border-radius: 8px;
    text-align: center;
    background-color: #084d9c;
    color: white;
    font-size: 1.2rem;
    align-items: center;
}

.separator {
    border-top: 1px solid gray  ;
    height: 1px;
    width: 20rem;
    margin-top: 14px;
}
.nueva_cuenta {
    justify-content: center;
    display: flex;
    margin-top: 14px;
    margin-bottom: 14px;
    height: 4rem;
    width: 14rem;
    border: 2px solid gray;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #36A420;
    color: white;
    font-size: 1.2rem;
    align-items: center;
}