.profile {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.personal_data {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    width: 40%;
    margin-left: 40%;
}
.ficha_tecnica {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    width: 40%;
    margin-left: 40%;
}

.photo {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
}

.hide {
    width: 0;
}

span {
    margin-top: 6px;
    
}